/* Responsive */
@media (max-width: 700px) {
    h1 {
        font-size: 42px;
    }

    .hero-contenido p {
        font-size: 17px;
    }

    h2 {
        font-size: 26px;
    }

    nav ul {
        gap: 18px;
    }

    .dos-columnas {
        flex-direction: column;
        text-align: center;
    }

    .dos-columnas article {
        text-align: center;
    }
}
